{% extends "wall_app/base.html" %}

{% block content %}
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Register</h4>
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    {{ register_form.as_p }}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

    </section>
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>Login</h4>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </section>

{% endblock %}

