<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Add a book</h2>
<form action="{% url 'add_book' %}" method="post">
    {% csrf_token %}

    <label for="title">Title</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="description">Description</label><br>
    <input type="text" id="description" name="description"><br>
    <input type="submit" value="Submit">
</form>

{% if books %}
    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td><a href="{% url 'book_detail' book.id %}">Detail</a></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

</body>
</html>