<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h1>Show: New</h1>
<h2>Comments</h2>
I'm skipping the formatting here. I would probably use this <a href="https://simpleisbetterthancomplex
.com/tutorial/2019/01/03/how-to-use-date-picker-with-django.html">implementation a date picker</a>
<form action="{% url 'new' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
</form>
</body>
</html>